body {
  color: #555;
  font-family: Georgia, "Times New Roman", serif;
}

#{headings(all)} {
  margin: 0;
  padding: 0;
  font-weight: normal;
}
h3 {
  @include trailer(.5);
}
ul, p {
  @include reset-box-model;
}

ul {
  list-style: none;
}

p {
  @include trailer(1);
}

a {
  color: #369;
  @include hover-link;
}
