article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

audio,
canvas,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html,
button,
input,
select,
textarea {
  font-family: sans-serif; }

body {
  margin: 0; }

a:focus {
  outline: thin dotted; }
a:hover, a:active {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

small {
  font-size: 75%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button,
input {
  line-height: normal; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
input[disabled] {
  cursor: default; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* html {
  font-size: 100%; }

html {
  font-size: 16px;
  line-height: 1.5em; }

body {
  color: #555; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0; }

h3 {
  margin-bottom: 0.75em; }

ul, p {
  margin: 0;
  padding: 0;
  border: 0; }

ul {
  list-style: none; }

p {
  margin-bottom: 1.5em; }

a {
  color: #369;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

.container {
  *zoom: 1;
  max-width: 31em;
  _width: 31em;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto; }
  .container:after {
    content: "";
    display: table;
    clear: both; }
  @media (min-width: 641px) {
    .container {
      max-width: 50.5em; } }
  @media (min-width: 941px) {
    .container {
      max-width: 76.5em; } }

/* debug background grid */
.header {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  *zoom: 1; }
  .header:after {
    content: "";
    display: table;
    clear: both; }

.content {
  *zoom: 1;
  padding-top: 1.5em;
  background: rgba(255, 255, 255, 0.5); }
  .content:after {
    content: "";
    display: table;
    clear: both; }

.main {
  width: 66.01307%;
  float: right;
  margin-right: 0;
  #margin-left: -1.5em;
  display: inline; }

.aside {
  width: 32.02614%;
  float: left;
  margin-right: 1.96078%;
  display: inline; }
  .aside img {
    width: 100%;
    height: auto; }
  .aside ul {
    list-style-type: none; }

.header {
  position: relative; }

.logo {
  position: absolute; }
  .logo h1 {
    font-size: 3em;
    line-height: 1em; }
  .logo .logo-meta {
    font-size: 0.75em;
    line-height: 2em; }

.nav {
  padding-top: 3em;
  float: right; }
  .nav li {
    margin-left: 1em;
    float: left; }

@media (max-width: 40em) {
  .logo {
    position: static; }

  .nav {
    float: none;
    padding-top: 0; }
    .nav li {
      float: none;
      width: 100%;
      text-align: center;
      margin: 0 auto;
      border-bottom: 1px solid #dddddd; } }
.reserve {
  position: absolute;
  top: 0;
  right: 0;
  border-top: 1px solid #e698a7;
  background: #660821;
  background: -webkit-gradient(linear, left top, left bottom, from(#b82b34), to(#660821));
  background: -webkit-linear-gradient(top, #b82b34, #660821);
  background: -moz-linear-gradient(top, #b82b34, #660821);
  background: -ms-linear-gradient(top, #b82b34, #660821);
  background: -o-linear-gradient(top, #b82b34, #660821);
  padding: 1px 8px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: black 0 1px 0;
  -moz-box-shadow: black 0 1px 0;
  box-shadow: black 0 1px 0;
  text-shadow: rgba(0, 0, 0, 0.4) 0 1px 0;
  color: white;
  text-decoration: none;
  vertical-align: middle; }

.reserve:hover {
  border-top-color: #287851;
  background: #287851;
  color: #ccc; }

.reserve:active {
  border-top-color: #1b435e;
  background: #1b435e; }

.block-1-1 {
  width: 14.66667%;
  height: 200px;
  margin: 0 1% 1em 1%; }

.block-1-2 {
  width: 14.66667%;
  height: 400px;
  margin: 0 1% 1em 1%; }

.block-1-3 {
  width: 14.66667%;
  height: 600px;
  margin: 0 1% 1em 1%; }

.block-1-4 {
  width: 14.66667%;
  height: 800px;
  margin: 0 1% 1em 1%; }

.block-1-5 {
  width: 14.66667%;
  height: 1000px;
  margin: 0 1% 1em 1%; }

.block-2-1 {
  width: 31.33333%;
  height: 200px;
  margin: 0 1% 1em 1%; }

.block-2-2 {
  width: 31.33333%;
  height: 400px;
  margin: 0 1% 1em 1%; }

.block-2-3 {
  width: 31.33333%;
  height: 600px;
  margin: 0 1% 1em 1%; }

.block-2-4 {
  width: 31.33333%;
  height: 800px;
  margin: 0 1% 1em 1%; }

.block-2-5 {
  width: 31.33333%;
  height: 1000px;
  margin: 0 1% 1em 1%; }

.block-3-1 {
  width: 48%;
  height: 200px;
  margin: 0 1% 1em 1%; }

.block-3-2 {
  width: 48%;
  height: 400px;
  margin: 0 1% 1em 1%; }

.block-3-3 {
  width: 48%;
  height: 600px;
  margin: 0 1% 1em 1%; }

.block-3-4 {
  width: 48%;
  height: 800px;
  margin: 0 1% 1em 1%; }

.block-3-5 {
  width: 48%;
  height: 1000px;
  margin: 0 1% 1em 1%; }

.block-4-1 {
  width: 64.66667%;
  height: 200px;
  margin: 0 1% 1em 1%; }

.block-4-2 {
  width: 64.66667%;
  height: 400px;
  margin: 0 1% 1em 1%; }

.block-4-3 {
  width: 64.66667%;
  height: 600px;
  margin: 0 1% 1em 1%; }

.block-4-4 {
  width: 64.66667%;
  height: 800px;
  margin: 0 1% 1em 1%; }

.block-4-5 {
  width: 64.66667%;
  height: 1000px;
  margin: 0 1% 1em 1%; }

.block-5-1 {
  width: 81.33333%;
  height: 200px;
  margin: 0 1% 1em 1%; }

.block-5-2 {
  width: 81.33333%;
  height: 400px;
  margin: 0 1% 1em 1%; }

.block-5-3 {
  width: 81.33333%;
  height: 600px;
  margin: 0 1% 1em 1%; }

.block-5-4 {
  width: 81.33333%;
  height: 800px;
  margin: 0 1% 1em 1%; }

.block-5-5 {
  width: 81.33333%;
  height: 1000px;
  margin: 0 1% 1em 1%; }

.block-6-1 {
  width: 98%;
  height: 200px;
  margin: 0 1% 1em 1%; }

.block-6-2 {
  width: 98%;
  height: 400px;
  margin: 0 1% 1em 1%; }

.block-6-3 {
  width: 98%;
  height: 600px;
  margin: 0 1% 1em 1%; }

.block-6-4 {
  width: 98%;
  height: 800px;
  margin: 0 1% 1em 1%; }

.block-6-5 {
  width: 98%;
  height: 1000px;
  margin: 0 1% 1em 1%; }

.block-group-size-1 {
  width: 20%; }

.block-group-size-2 {
  width: 40%; }

.block-group-size-3 {
  width: 60%; }

.block-group-size-4 {
  width: 80%; }

.block-group-size-5 {
  width: 100%; }

.home-page-grid {
  margin: 0 -0.5%; }

.project-page-grid {
  margin: 0 -1%; }

.block-group {
  float: left; }

.block {
  position: relative;
  margin-bottom: 20px;
  float: left;
  background-size: cover; }

.block-content {
  width: 90%;
  background: rgba(3, 3, 3, 0.2);
  padding: 0 5%;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  position: absolute;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.57) 0%, rgba(0, 0, 0, 0) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.57)), color-stop(100%, rgba(0, 0, 0, 0)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.57) 0%, rgba(0, 0, 0, 0) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.57) 0%, rgba(0, 0, 0, 0) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.57) 0%, rgba(0, 0, 0, 0) 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.57) 0%, rgba(0, 0, 0, 0) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#91000000', endColorstr='#00000000',GradientType=0 );
  /* IE6-9 */ }

.title {
  position: relative; }
  .title .number {
    position: absolute;
    top: 0;
    font-size: 2.25em;
    line-height: 1em; }

.more {
  margin-left: 1em;
  padding: 2px 5px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  color: #FFF;
  background-color: red; }

.name .block-content .text {
  float: right; }

.talking .block-content, .meeting .block-content, .project .block-content, .space .block-content {
  bottom: 0;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.57) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.57)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.57) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.57) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.57) 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.57) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#91000000',GradientType=0 );
  /* IE6-9 */ }

.talking .block-content .text {
  float: right; }

.space .block-content h2 {
  float: left; }
.space .block-content .meta {
  margin-left: 1em;
  float: left; }

.intro .block-content {
  position: absolute;
  bottom: 0;
  background: none; }
  .intro .block-content h2 {
    float: left; }
  .intro .block-content .meta {
    margin-left: 1em;
    margin-top: 1.5em;
    float: right; }

@media (min-width: 0em) and (max-width: 40em) {
  .block-group {
    float: none; }

  .block {
    width: 100%; }

  .block-group-size-1 {
    width: 100%; }

  .block-group-size-2 {
    width: 100%; }

  .block-group-size-3 {
    width: 100%; }

  .block-group-size-4 {
    width: 100%; }

  .block-group-size-5 {
    width: 100%; } }
.sub-header {
  *zoom: 1; }
  .sub-header:after {
    content: "";
    display: table;
    clear: both; }
  .sub-header .member-name {
    width: 32.02614%;
    float: left;
    margin-right: 1.96078%;
    display: inline;
    margin-top: 0.75em;
    margin-bottom: 0.75em;
    font-size: 2em;
    line-height: 1.5em;
    float: left; }

.member-en-name {
  font-size: 0.625em;
  line-height: 2.4em;
  margin-left: 1em; }

.member-pro {
  float: left; }
  .member-pro li {
    color: #FFF;
    font-size: 18px;
    line-height: 1.0;
    margin: 0 1em;
    padding: 15px;
    width: 2em;
    float: left;
    background: #666;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    border-radius: 50px; }

.sub-header h2 {
  margin-bottom: 0.75em;
  font-size: 1.125em;
  line-height: 1.33333em; }

.project-page .title {
  float: left; }

.project-meta {
  margin-left: 5em;
  float: left;
  font-size: 1.5em;
  line-height: 2em; }

.project-member {
  *zoom: 1;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  clear: both; }
  .project-member:after {
    content: "";
    display: table;
    clear: both; }
  .project-member li {
    margin-right: 2em;
    float: left; }

.project-member-job {
  color: #FFF;
  font-size: 18px;
  line-height: 1.0;
  margin-right: .5em;
  padding: 15px;
  width: 2em;
  float: left;
  background: #666;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border-radius: 50px; }

.project-member-count {
  font-size: 3em;
  line-height: 1.5em; }

.project-content {
  clear: both; }

.submit {
  display: block;
  border: 1px solid #555555;
  padding: 5px 20px;
  margin: 0 auto;
  width: 4em; }

.meeting-page .main {
  width: 49.01961%;
  float: right;
  margin-right: 0;
  #margin-left: -1.5em;
  display: inline; }
.meeting-page .aside {
  width: 49.01961%;
  float: left;
  margin-right: 1.96078%;
  display: inline; }

.meeting-content {
  margin-top: 1.5em; }

.meeting-page .submit {
  margin: 0;
  float: right; }

.footer {
  *zoom: 1; }
  .footer:after {
    content: "";
    display: table;
    clear: both; }
  .footer p {
    font-size: 0.75em;
    line-height: 2em;
    float: right; }
