.row {
  clear: both;
  @include pie-clearfix;
}

.block {
  position: relative;
  display: block;
  height: 0;
  background-size: cover;
  background-position: center center;
}

.block-content {
  position: absolute;
  bottom: 0;
  z-index: 2;
  width: 100%;
  @include box-sizing(border-box);
  padding: 20px;
}

.title-name {
  float: left;
}

.title-number {
  float: left;
  @include adjust-font-size-to(44px,1);
}

.sub-title {
  clear: both;
}

.meta {
  @include adjust-font-size-to(14px,.7);
  clear: both;
}

.more {
  margin-left: 2em;
  padding: 2px 5px;
  @include border-radius(4px);
  color: #FFF;
  background-color: red;
}


//block-layout
$col: 8;
@for $width from 1 through 3 {
  @for $height from 1 through 3 {
    .block-#{$width}-#{$height} {
      padding-top: columns($height*4,$col);
    }
  }
}
.block {
  margin-bottom: gutter($col);
}


// responsice-ipad
@include at-breakpoint($ipad) {

  $tot-col:10;
  .col1 {
    $col: 6;
    @include span-columns(6,$tot-col);
      @for $width from 1 through 3 {
       @for $height from 1 through 3 {
        .block-#{$width}-#{$height} {
          width: columns($width*2,$col);
          padding-top: columns($height*2,$col);
        }
      }
    }
    .block {
      float: left;
      margin-bottom: gutter($col);
      @include nth-omega;
    }
  }
  .col2 {
    $col: 4;
    @include span-columns(4 omega,$tot-col);
      @for $width from 1 through 3 {
       @for $height from 1 through 3 {
        .block-#{$width}-#{$height} {
          width: columns($width*2,$col);
          padding-top: columns($height*2,$col);
        }
      }
    }
    .block {
      float: left;
      margin-bottom: gutter($col);
      @include nth-omega;
    }
  }
  .meta {
    @include ellipsis;
  }

}


// responsive-desktop
@include at-breakpoint($desktop) {

  $tot-col:15;
  .col1 {
    $col: 9;
    @include span-columns($col,$tot-col);
      @for $width from 1 through 3 {
       @for $height from 1 through 3 {
        .block-#{$width}-#{$height} {
          width: columns($width*3,$col);
          padding-top: columns($height*3,$col);
        }
      }
    }
    .block {
      float: left;
      margin-bottom: gutter($col);
      @include nth-omega;
    }
  }
  .col2 {
    $col: 6;
    @include span-columns($col omega,$tot-col);
      @for $width from 1 through 3 {
       @for $height from 1 through 3 {
        .block-#{$width}-#{$height} {
          width: columns($width*3,$col);
          padding-top: columns($height*3,$col);
        }
      }
    }
    .block {
      float: left;
      margin-bottom: gutter($col);
      @include nth-omega;
    }
  }

}
