.header {
  position: relative;
  text-align: center;
}

.logo {
  text-align: center;
  @include adjust-font-size-to(72px,3);
}

.nav {
  li {
    text-align: center;
    line-height: 35px;
    border-bottom: 1px solid #ddd;
  }
}

.reserve {
  border-top: 1px solid #e698a7;
  padding: 1px 8px;
  background: #660821;
  background: -webkit-gradient(linear, left top, left bottom, from(#b82b34), to(#660821));
  background: -webkit-linear-gradient(top, #b82b34, #660821);
  background: -moz-linear-gradient(top, #b82b34, #660821);
  background: -ms-linear-gradient(top, #b82b34, #660821);
  background: -o-linear-gradient(top, #b82b34, #660821);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
  -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
  box-shadow: rgba(0,0,0,1) 0 1px 0;
  text-shadow: rgba(0,0,0,.4) 0 1px 0;
  color: white;
  text-decoration: none;
  vertical-align: middle;
}

.reserve:hover {
  border-top-color: #287851;
  background: #287851;
  color: #ccc;
}

.reserve:active {
  border-top-color: #1b435e;
  background: #1b435e;
}



//responsive=ipad
@include at-breakpoint($ipad) {

  .logo {
    text-align: left;
  }
  .reserve {
    position: absolute;
    top: 10px;
    right: 0;
  }
  .nav {
    margin: 0;
    li {
      line-height: 24px;
      margin-right: 1em;
      float: left;
      border-bottom: none;
    }
  }

}


//responsive-desktop
@include at-breakpoint($desktop) {
  .logo {
    float: left;
  }
  .nav {
    @include leader(2);
    float: right;
  }

}
