.header {
  position: relative;
}

.logo {
  position: absolute;

  h1 {
    @include adjust-font-size-to(48px,2);
  }
  .logo-meta {
    @include adjust-font-size-to(12px,1);
  }
}
.nav {
  @include padding-leader(2);
  float: right;
  li {
    margin-left: 1em;
    float: left;
  }
}
.reserve {
  position: absolute;
  top: 0;
  right: 0;
  color: #FFF;
  display: block;
  float: right;
  background-color: red;
}
